{% load staticfiles %}

<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="utf-8"/>
  <title>DOI Interface</title>
  <style type="text/css">
  </style>
</head>

<body>
  <h1>DOI Interface</h1>
  <input id="doi" type="text" name="doi_input" placeholder="Enter your DOI here"><input type="button" value="Search" onClick="getDOI()">
  <div id="doi_display">
    {% if doi %}
      <h3>{{doi.DOI}}</h3>
        <table>
        {% for k,v in doi.items %}
          <tr><td><b>{{k}}</b></td><td>{{v}}</td></tr>
        {% endfor %}
        </table>
    {% else %}
      Nothing here.
    {% endif %}
  </div>

  <script type="text/javascript">
    function getDOI() {
      doi = document.getElementById("doi");
      location.href = "/" + doi.value;
    }
  </script>
</body>

</html>
